<div style="margin-top: 10vh;">
  <p class="rojo">Bienvenido a la aplicación!</p>
  <p>COUNTER 1234 --> {{ currentValue }}</p>
  <input type="number" [(ngModel)]="inputValue" required />
  <button (click)="increment()" [disabled]="!areButtonsEnabled">
    Incrementar!
  </button>
  <button (click)="set()" [disabled]="!areButtonsEnabled">Setear</button>
</div>
